@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #3c769c;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(236, 236, 236);
}

.container-calendar {
    width: 55rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-calendar header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.container-calendar header > div {
    flex: 1;
}

.gap-3rem {
    display: flex;
    gap: 0.3rem;
}

.gap-1rem {
    display: flex;
    gap: 1rem;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.btn {
    background-color: rgba(115, 103, 240, .16);
    border: none;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    color: #7367f0;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: background-color 0.1s linear;
}

.btn:hover {
    background-color: rgba(115, 103, 240, .30);
}

.btnLeft {
    border: none;
    padding: 0.5rem;
    text-align: center;
    color: #5d596c;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.1s linear;
}

.btnLeft:hover {
    background-color: #fafafa;
}

.date {
    color: #5d596c;
    font-weight: 500;
    font-size: 1.1rem;
}


/* ==================== ACTIONS =============================== */

.hide {
    display: none !important;
}

.dragging {
   opacity: 0;
}

.disable {
    color: rgb(223, 223, 223);
    background-color: rgb(247, 247, 247);
    cursor: initial;
}

.selected {
    background-color: rgb(232, 238, 255);
}
/* ================================== RESPON ======================================== */

@media screen and (width < 800px){
    header  {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (width < 800px){
    .m-day {
        width: 6.1rem;
    }
}
@media screen and (width < 700px){
    .m-day {
        width: 5.5rem;
    }
}
@media screen and (width < 600px){
    .m-day {
        width: 4.5rem;
    }
}
@media screen and (width < 500px){
    .m-day {
        width: 3.5rem;
    }
}
@media screen and (width < 400px){
    .m-day {
        width: 2.6rem;
    }
}
 
.red {
    background-color: red;
}