@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #3c769c;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(236, 236, 236);
}

.container-calendar {
    width: 55rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-calendar header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.container-calendar header > div {
    flex: 1;
}

.gap-3rem {
    display: flex;
    gap: 0.3rem;
}

.gap-1rem {
    display: flex;
    gap: 1rem;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.btn {
    background-color: rgba(115, 103, 240, .16);
    border: none;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    color: #7367f0;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: background-color 0.1s linear;
}

.btn:hover {
    background-color: rgba(115, 103, 240, .30);
}

.btnLeft {
    border: none;
    padding: 0.5rem;
    text-align: center;
    color: #5d596c;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.1s linear;
}

.btnLeft:hover {
    background-color: #fafafa;
}

.date {
    color: #5d596c;
    font-weight: 500;
    font-size: 1.1rem;
}

/* ============================ MODE MONTH ===================================== */

.m-container-month {
    max-height: 31rem;
    display: flex;
    flex-direction: column;
}

.m-weeks {
    display: grid;
    background-color: #ccc;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 1px 1px 0 1px;
}

.m-day-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    font-weight: 500;
    color: #5d596c;
    background-color: #fff;
}

.m-container-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 1px;
    background-color: #ccc;
}

.m-day {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-height: 5rem;
    width: 7.5rem;
    position: relative;
    background-color: #fff;
    user-select: none;
    transition: background-color 0.2s linear;
}

.m-day:hover {
    background-color: rgb(243, 243, 245);
}

.m-day .m-value-day {
    padding: 2px;
    margin-top: 5px;
    text-align: center;
    font-size: 0.8rem;
}

.m-day.m-today {
    background-color: rgb(234, 239, 243);
}

.m-event {
    z-index: 1;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s linear;
    display: flex;
    position: relative;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.m-event-value {
    color: #fff;
    flex: 1;
    text-align: center;
    cursor: grab;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.m-tip {
    color: transparent;
    display: flex;
    align-items: center;
    cursor: move;
}

/* ======================================== MODE WEEK ============================================== */

.w-container-week {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-height: 31rem;
    padding: 1px;
}

.w-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #ccc;
    gap: 1px;
}

.w-day-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.7rem;
    font-weight: 500;
    color: #5d596c;
    background-color: #ffffff;
}

.w-container-hours {
    overflow-y: auto;
}



.w-all-day-txt {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.w-area {
    background-color: #fff;
    height: 5rem;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    display: flex;
}

.w-all-day {
    padding: 0.3rem;
}

.w-number-hour {
    background-color: #fff;
    height: 32px;
    user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    text-align: center;
}

.w-hour {
    height: 32px;
    user-select: none;
}

.w-today  {
    background-color: rgb(238, 238, 238);
}

.w-event {
    z-index: 1;
    border-radius: 0.2rem;
    color: #fff;
    width: 50%;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.w-event-value {
    text-align: center;
    cursor: grab;
    border-radius: 0.2rem;
    flex: 1;
}

.w-tip {
    border-radius: 0.2rem;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    width: 100%;
}

/* ===================================== MODE DAY ============================================ */

.d-container-day {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    gap: 1px;
    padding: 1px;
    max-height: 31rem;
}

.d-week {
    padding: 0.4rem;
    text-align: center;
    background-color: #fff;
    font-size: 1rem;
    color: #092a57;
}

.d-df {
    display: flex;
}

.d-all-day {
    padding: 0.5rem;
    width: 7rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-right: 1px solid #ccc;
}

.d-area-all-day {
    flex: 1;
    gap: 1rem;
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    height: 5rem;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 12fr;
    background-color: #c2c2c2;
    max-height: 25rem;
    gap: 1px;
    overflow-y: auto;
}

.d-hour {
    background-color: #fff;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    font-size: 0.85rem;
    text-align: center;
}

.d-area-hour {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    height: 32px;
    flex: 1;
    display: flex;
}

.d-event {
    z-index: 1;
    border-radius: 0.2rem;
    color: #fff;
    margin: 0.1rem 5rem 0 5rem;
    flex: 1;
    border-radius: 0.2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-event-value {
    text-align: center;
    cursor: grab;
    flex: 1;
}

.d-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    width: 100%;
}

/* ======================================== MODE LIST ========================================= */

.l-container-list {
    height: 31rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.l-day {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    background-color: rgb(245, 245, 245);
}

.l-day span {
    padding: 0 .5rem;
    font-weight: 500;
    color: #5d596c;
}

.l-area {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid #e4e4e4;
    transition: background-color 0.2s linear;
}

.l-area span {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-event {
    z-index: 1;
    border-radius: 0.2rem;
    color: #fff;
    text-align: center;
    margin: 1rem;
    flex: 1;
    cursor: pointer;
    padding: .05rem;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.l-event:hover {
    background-color: #fcfcfc;
}

.l-divNone {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5d596c;
}

/* ==================== ACTIONS =============================== */

.hide {
    display: none !important;
}

.dragging {
   opacity: 0;
}

.disable {
    color: rgb(223, 223, 223);
    background-color: rgb(247, 247, 247);
    cursor: initial;
}

.selected {
    background-color: rgb(232, 238, 255);
}
/* ================================== RESPONSIVO ======================================== */

@media screen and (width < 800px){
    header  {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (width < 800px){
    .m-day {
        width: 6.1rem;
    }
}
@media screen and (width < 700px){
    .m-day {
        width: 5.5rem;
    }
}
@media screen and (width < 600px){
    .m-day {
        width: 4.5rem;
    }
}
@media screen and (width < 500px){
    .m-day {
        width: 3.5rem;
    }
}
@media screen and (width < 400px){
    .m-day {
        width: 2.6rem;
    }
}