
.m-container-month {
    max-height: 31rem;
    display: flex;
    flex-direction: column;
}

.m-weeks {
    display: grid;
    background-color: #ccc;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 1px 1px 0 1px;
}

.m-day-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    font-weight: 500;
    color: #5d596c;
    background-color: #fff;
}

.m-container-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 1px;
    background-color: #ccc;
}

.m-day {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-height: 5rem;
    width: 7.5rem;
    position: relative;
    background-color: #fff;
    user-select: none;
    transition: background-color 0.2s linear;
}

.m-span-more {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: #636363;
    border-radius: 0.1rem;
    transition: background-color 0.2s linear;
}

.m-span-more:hover {
    background-color: #d6d6d6;
}

.m-day:hover {
    background-color: rgb(243, 243, 245);
}

.m-day .m-value-day {
    padding-top: 2px;
    text-align: center;
    font-size: 0.8rem;
}

.m-day.m-today {
    background-color: rgb(234, 239, 243);
}

.m-event {
    z-index: 1;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s linear;
    display: flex;
    position: relative;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.m-event-value {
    color: #fff;
    flex: 1;
    text-align: center;
    cursor: grab;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.m-tip {
    color: transparent;
    display: flex;
    align-items: center;
    cursor: move;
}