.container-month {
    max-height: 31rem;
    display: flex;
    flex-direction: column;
}

.div-week {
    display: grid;
    background-color: #ccc;
    gap: 1px;
    padding: 1px;
    grid-template-columns: repeat(7, 1fr);
}

.day-sem {
    background-color: #fff;
    text-align: center;
}

.container-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #ccc;
    border-radius: 0.5rem;
}

.week-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #fff;
}

.day {
    display: flex;
    flex-direction: column;
    min-height: 4.9rem;
    width: 7.5rem;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
    transition: background-color 0.2s linear;
}

.day:hover {
    background-color: rgb(243, 243, 245);
}

.day .number-day {
    padding: 2px;
    margin-top: 5px;
    text-align: center;
    font-size: 0.8rem;
}

.event-month {
    z-index: 1;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s linear;
    display: flex;
    justify-content: space-between;
}

.event-sub {
    color: #fff;
    flex: 1;
    text-align: center;
    cursor: grab;
    padding: 0.3rem;
}

.rasta {
    color: transparent;
    display: flex;
    align-items: center;
    cursor: move;
}

.today .number-day {
    padding: 2px;
    color: #fff;
    background-color: blue;
    border-radius: 50%;
    margin: 0.3rem 3rem 0.3rem 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.disable {
    color: rgb(199, 199, 199);
    background-color: rgb(235, 235, 235);
    cursor: initial;
}